@use "sass:map";

$colors: (
  "off-white": #f0f0f0,
  "deep-navy": #0f0f23,
  "electric-blue": #00bfff,
  "pop-pink": #ff1492,
  "gold-accent": #ffd700,
  "black": #2f2d2d,
  "overlay": #2b2b2b8b,
  "nav-hover": #f0f0f069,
);

.error {
  color: #000000;
  font-weight: 800;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.5fr 0.5fr;
  grid-template-areas:
    "hero"
    "contact"
    "web-bottom";
}

.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border-radius: 20px;
  padding: 2rem;
  background-color: map.get($colors, deep-navy);
  color: map.get($colors, off-white);
  @media (min-width: 800px) {
    min-width: 50%;
    max-width: 75%;
  }
}

.contact-card {
  background-color: map.get($colors, pop-pink);
  width: 100%;
  border-radius: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 800px) {
    padding: 10px;
  }
}

.contact__form input {
  width: 70%;
  height: 2rem;
  box-shadow: -2px 2px 4px 1px;
  border-radius: 0.6rem;
  color: map.get($colors, electric-blue);
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  @media (min-width: 800px) {
    padding: 0.5rem;
    width: 50%;
    height: 3rem;
  }
}

.submit-btn {
  border-style: none;
  margin: 2% 2%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid map.get($colors, off-white);
  color: map.get($colors, electric-blue);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0 2rem;
  &:hover {
    transform: 10s ease scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px map.get($colors, electric-blue);
  }
}
