@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$colors: (
  "off-white": #f0f0f0,
  "deep-navy": #0f0f23,
  "electric-blue": #00bfff,
  "pop-pink": #ff1492,
  "gold-accent": #ffd700,
  "black": #2f2d2d,
  "back-overlay": #2b2b2b8b,
  "nav-hover": #f0f0f069,
);

.error {
  color: #000000;
  font-weight: 800;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.5fr 0.5fr;
  grid-template-areas:
    "hero"
    "contact"
    "web-bottom";
}

.hero {
  grid-area: hero;
  color: map.get($colors, off-white);
  background: map.get($colors, off-white)
    url("../images/human-narrative-_F9sENU1Wtk-unsplash.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  text-shadow: -3px 2px 2px map.get($colors, pop-pink);
}

.hero-header {
  font-size: 2.5rem;
  text-align: center;
  max-width: 80%;
  background-color: map.get($colors, back-overlay);
  border-radius: 10px;
}
.hero-para {
  font-size: 1.8rem;
  text-align: center;
  max-width: 70%;
  background-color: map.get($colors, back-overlay);
  border-radius: 10px;
}

.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 2rem;
  background-color: map.get($colors, deep-navy);
  color: map.get($colors, off-white);
  @media (min-width: 800px) {
    min-width: 50%;
    max-width: 75%;
  }
}

.contact-card {
  background-color: map.get($colors, pop-pink);
  width: 100%;
  border-radius: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 800px) {
    padding: 10px;
  }
}

.contact__form input {
  width: 70%;
  height: 2rem;
  box-shadow: -2px 2px 4px 1px;
  border-radius: 0.6rem;
  color: map.get($colors, electric-blue);
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  @media (min-width: 800px) {
    padding: 0.5rem;
    width: 50%;
    height: 3rem;
  }
}

.submit-btn {
  border-style: none;
  margin: 2% 2%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid map.get($colors, off-white);
  color: map.get($colors, electric-blue);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0 2rem;
  &:hover {
    transform: 10s ease scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px map.get($colors, electric-blue);
  }
}

.user-message {
  background-color: map.get($colors, pop-pink);
  width: 60%;
  margin: 1rem auto;
  grid-area: web-bottom;
  gap: 1rem;
  border-radius: 20px;
}

.user-message__div {
  background-color: #f0f0f0;
  width: 50%;
  margin: 2rem auto;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
