* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary {
  background-color: #0f0f23;
  width: 50vw;
  height: 25vh;
}

.primary-head {
  color: #ff1493;
}

.primary-text {
  color: #f0f0f0;
  font-weight: 500;
}

.secondary {
  background-color: #f0f0f0;
  width: 50vw;
  height: 50vh;
  border: #00bfff solid 2px;
  color: #000000;
  font-size: 3rem;
}
