@use "sass:map";

$colors: (
  "off-white": #f0f0f0,
  "deep-navy": #0f0f23,
  "electric-blue": #00bfff,
  "pop-pink": #ff1493,
  "gold": #ffd700,
  "black": #2f2d2d,
  "overlay": #2b2b2b8b,
  "nav-hover": #f0f0f069,
);

body {
  color: map.get($colors, off-white);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1.5fr;
  grid-template-areas:
    "hero"
    "gallery";
  min-height: 40rem;
}

.hero {
  display: flex;
  text-shadow: -3px 2px 2px map.get($colors, pop-pink);

  flex-direction: column;
  justify-content: space-between;
  grid-area: hero;
  background: map.get($colors, off-white) url("images/corazon-3-hero.jpg")
    center center;
  background-attachment: fixed;
  background-size: cover;
  width: 85%;
  margin: 0 auto;
}

.hero__cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  h2 {
    padding: 0.5rem;
  }

  @media (min-width: 530px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.hero__btn {
  border-style: none;
  background-color: #ffffff;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid map.get($colors, off-white);
  color: map.get($colors, electric-blue);
  font-size: 1rem;
  font-weight: 800;
  padding: 0 2rem;
  &:hover {
    transform: 10s ease scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 4px 8px map.get($colors, electric-blue);
  }
}

.products {
  width: 100%;
  background-color: rgb(14, 14, 107);
}
